<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Robot Factory</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/css/factory.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
  <div class="wrap">
    <div class="machine-back"></div>
    <div class="conveyor"></div>
    <div class="shadows"></div>
    <!-- <div class="gum"></div> -->
    <!-- <div class="rays">
      <div class="ray-right"></div>
      <div class="ray-left"></div>
    </div> -->
    <div class="window"></div>
    <div class="machine-front"></div>
    <div class="machine-top"></div>
    <!-- <div class="light-base"></div> -->
    <!-- <div class="light-cover"></div> -->
    <!-- <div class="light-mask"> -->
      <!-- <div class="light-inner"></div> -->
    <!-- </div> -->
</body>
</html>
